<div  class="animated fadeInRight">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <div class="bottom-line">
                            <h4 class="header3">Nom d'utilisateur</h4>
                            <span class="line"><em></em></span>
                        </div>
                    </div>

                    <div class="input-field col s12 m9 l9">
                        <p>lorem ipsum</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <div class="bottom-line">
                            <h4 class="header3">E-mail</h4>
                            <span class="line"><em></em></span>
                        </div>
                    </div>

                    <div class="input-field col s12 m9 l9">
                        <p>exemple@exemple.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <div class="bottom-line">
                            <h4 class="header3">Etat</h4>
                            <span class="line"><em></em></span>
                        </div>
                    </div>

                    <div class="input-field col s12 m9 l9">
                        <p>Validé</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m3 l3">
                        <div class="bottom-line">
                            <h4 class="header3">Groupe</h4>
                            <span class="line"><em></em></span>
                        </div>
                    </div>

                    <div class="input-field col s12 m9 l9">
                        <p>groupe 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>