<div class="animated fadeInRight">
    <div class="row">

        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Ajout d'un utilisateur</h4>
                {{item}}
                <form name="utilisateurForm" class="" ng-submit="ajouter_utilisateur(item)">
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input type="text" id="username" name="username" class="validate" required ng-model="item.username">
                            <label for="username">Nom</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="email" name="email" class="validate" ng-model="item.email"
                                   required>
                            <label for="email">E-mail</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label class=" control-label label-select"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <input id="password" type="password" name="pwd" class=" form-control"
                                           ng-model="item.password"
                                           required>
                                    <label for="password">Mot de passe</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label class=" control-label label-select">Activé :</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <select class="" ng-model="item.enabled"
                                            material-select watch>
                                        <option value="1">OUI</option>
                                        <option value="0">NON</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label class=" control-label label-select">Groupe :</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="btn orange lighten-2">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>