<div class="animated fadeInRight">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Modifier le menu: {{item.titre}}</h4>
                <div class="row">
                    <form name="menuForm" ng-submit="modifier_menu(item)">
                        <div class="row">
                            <div class="input-field col s6">

                                <input id="url" ng-model="item.titre" type="text" name="name" class="validate" required>
                                <label for="url">Titre</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="mySelect" id="maxc"
                                        ng-options="option.value for option in data.availableOptions track by option.type"
                                        ng-init="items.type=item.type"
                                        ng-model="items"
                                        ng-change="item.type=items.type"
                                        material-select watch >
                                </select>                                <label for="maxc">Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div ng-hide="true">{{item.page=itemPage[0]}}</div>
                                <select name="mySelect" id="mySelect"
                                        ng-options="option.nom for option in itemPage track by option.nom"
                                        ng-model="item.page"
                                        material-select watch></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button type="submit" class="btn orange lighten-2">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>            </div>
        </div>
    </div>
</div>











