<div class="animated fadeInRight">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4 class="header2">Ajouter une devise</h4>
                <div class="row">
                    <form name="agenceForm" ng-submit="ajouter_devise(item)">
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <label>Nom </label>
                                <input ng-model="item.nom" type="text" class=" form-control" required>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <label>Code ISO </label>
                                <input ng-model="item.code_iso" type="text" class=" form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <label>Sigle </label>
                                <input ng-model="item.sigle" type="text" class=" form-control" required>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <label>unité </label>
                                <input ng-model="item.unite" type="text" class=" form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button type="submit" class="btn orange lighten-2 waves-effect waves-light">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




